body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
 h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
h3{
    font-weight: 600;
}
.half-width img{
    width: 80%;
}
.dream-area{
    margin-top: 150px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.down{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack{
    border-left: 7px solid;
    border-image:  linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}